* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #EAE5E5;
}
/*NAVBAR*/
.navbar {
    display: flex;
    padding: 40px;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
.brand {
    color: #606060;
    font-weight: 900;
}
.navbar-link {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 10px;
    color: #00B0B2;
    font-weight: 600;
}
.navbar-link:hover {
    color: #606060;
}
/*GRID*/
.grid-container {
    margin: 20px;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 5;
    justify-content: center;
    align-content: center;
    column-gap: 10px;
    row-gap: 10px;
}
.grid-img {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
}
.home-img {
    width: 691px;
    height: 400px;
}
.grid-btn {
    grid-column: 2, 3;
}
.btn {
    height: 50px;
    width: 200px;
    border: 2px solid white;
    box-shadow: 2px 2px 20px grey ;
    text-transform: uppercase;
    color: white;
    font-size: 1.3em;
    font-weight: 600;
    transition: background-image 0.2s ease-in;
}
.btn:hover {
    background-image: linear-gradient(grey, black);
    cursor: pointer;
}
.plan-btn {
    background-color: #F2B544;
}
.str-btn {
    background-color: #6BB032;
}
.res-btn {
    background-color: #65C3C3;
}
.grid-card {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    max-width: 200px;
    height: 210px;
    padding: 20px;
    background-color: #3CB2B2;
    text-align: center;
    color: white;
    font-weight: 600;
    border: 2px solid white;
    box-shadow: 2px 2px 20px grey;
}
#footer {
    display: flex;
    background-color: #242323;
    color: white;
    justify-content: space-around;
    height: 110px;
    align-items: center;
}
.footer-para {
    font-size: smaller;
}
/*ABOUT PAGE*/
.about-container {
    margin: 30px 200px 76px 200px;
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
    column-gap: 40px;
    row-gap: 40px;
}
.about-grid-one {
    grid-column: 1/3;
    grid-row: 1/2;
}
.about-div {
    background-color: #949494;
    border: 2px solid white;
    height: 145px;
}
.about-img {
    background-color: white;
}
.about-grid-para {
    display: inline-block;
    position: relative;
    bottom: 110px;
    color: white;
    font-size: 1.2em;
    padding-left: 20px;
}
.about-div-para {
    margin-top: 20px;
    font-size: smaller;
}
/*SERVICES*/
.services-grid-container {
    margin: 30px 200px 76px 200px;
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 3;
    column-gap: 40px;
    row-gap: 40px;
}
.services-grid-one {
    grid-column: 1/4;
    grid-row: 1/2;
}
.services-grid-two {
    grid-column: 1/2;
    grid-row: 2/3;
}
.services-grid-three {
    grid-column: 2/3;
    grid-row: 2/3;
}
.services-grid-four {
    grid-column: 3/4;
    grid-row: 2/3;
}
.services-grid-para {
    padding-top: 20px;
    font-size: 13px;
}
.services-grid-headding {
    padding-top: 40px;
}
.services-grid-img {
    border: 2px solid white;
    box-shadow: 1px 1px 10px grey;
}
/*CLIENTS*/
.clients-grid-container {
    margin: 30px 200px 76px 200px;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 5;
    gap: 40px 40px;
}
.clients-grid-one {
    grid-column: 1/2;
    grid-row: 1/2;
}
.clients-grid-two {
    background-color: white;
    grid-column: 1/2;
    grid-row: 2/3;
}
.clients-logo-grid {
    display: flex;
    display: flex;
    position: relative;
    width: calc(100% - var(--padding) * 2);
    margin: 0 auto;
    text-align: center;
}
.clients-logo-one {
    width: 245px;
}
.clients-logo-two {
    width: 245px;
}
.clients-logo-three {
    width: 245px;
}
.clients-logo-four {
    width: 245px;
}
.clients-logo-para {
    width: 206px;
}
.clients-grid-three {
    background-color: white;
    grid-column: 1/2;
    grid-row: 3/4;
}
.clients-grid-four {
    grid-column: 1/2;
    grid-row: 4/5;
}
.clients-test {
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
}
.clients-test-para {
    font-size: 12px;
}